@model AspNetMvcBlog.Application.PagedList<AspNetMvcBlog.Models.Entities.Comment>

@foreach (var item in Model)
{
    <div class="list-group-item">
        <div class="list-group-item-heading">
            <h5 class="user"><i class="icon-user"></i> @item.Author</h5>
            <div class="text-muted pull-right"><i class="icon-time"></i> @item.PublishedOn.ToString("dd/MM/yyyy hh:mm")</div>
        </div>
        <div class="list-group-item-text">
            @item.Content
        </div>
    </div>
}
@if (Model.HasNextPage)
{
    <button type="button" data-url="@Url.RouteUrl("Posts.LoadComments", new { page = Model.NextPage })" data-action="load-comments" data-loading-text="Loading..." class="btn btn-primary btn-block">
        More comments
        <i class="glyphicon glyphicon-chevron-down"></i>
    </button>
}