@model IEnumerable<AspNetMvcBlog.Models.ViewModel.CategoryItem>

<section class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a href="@Url.RouteUrl("Posts.GetByCategory", new { category = item.Permalink })">@item.Name (@item.TotalPosts)</a>
            </li>
        }
    </ul>
</section>
