@*<section>
    <div class="profile">
        <a href="#"><img src="content/images/profile.jpg" alt="Your name" class="img-circle" width="120"></a>
        <p class="lead">Your name</p>
    </div>
</section>*@

@Html.Partial("Parts/_Search")

@Html.Action("Categories", "Sidebar")