@{
    ViewBag.Title = "Página não encontrada";
}

<h1>Página 400</h1>
<p>Essa página não foi encontrada: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>Volte para a <a href="@ViewBag.ReferrerUrl">página anterior</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))